body #MSO_ContentTable {
  float: none;
  padding: 20px 0px 25px 12px;
  width: 100%;
}

.centered {
  text-align: center;
}

.circle {
  padding: 20px;
  margin: 0 0 0 0;
  border-radius: 50%;
}

.row {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
  *zoom: 1;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  margin-top: 0;
  margin-right: -12.5px;
  margin-bottom: 0;
  margin-left: -12.5px;
  width: auto;
  max-width: none;
  *zoom: 1;
}

.row .row:before, .row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row.space-top {
  padding-top: 10px;
}

.row.space-top.double {
  padding-top: 20px;
}

.row.space-bottom {
  padding-bottom: 10px;
}

.row.space-bottom.double {
  padding-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 5px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 1.33em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 5px solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #227dce;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 5px solid #227dce;
  border-radius: 6px;
}

.button.home-button {
  color: #c60b46;
  border: 5px solid #005BAC;
}

.button.home-button:hover {
  color: white;
  border: 5px solid #227dce;
}

.featured {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}

.featured img {
  border: 1px solid #D8D8D8;
}

.featured .rslides img {
  width: 720px;
  height: 481px;
  margin-right: 0;
}

@media screen and (max-width: 481px) {
  .featured .rslides img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .featured .rslides img {
    width: 100%;
    height: auto;
  }
}
.home-business .figcaption {
  margin-left: 0;
}

.home-business h2 {
  font-size: 20px;
  font-weight: normal;
}

@media screen and (max-width: 481px) {
  .figure img {
    width: 110px;
    height: 110px;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .figure img {
    width: 110px;
    height: 110px;
  }
}
.home-access.studentaccess {
  width: 83%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.home-access.studentaccess h2 {
  font-size: 19px;
}

@media screen and (max-width: 481px) {
  .home-access.studentaccess {
    padding-left: 0;
    padding-right: 0;
    width: 103%;
    margin-left: -12px;
  }

  .home-access.studentaccess ul {
    padding-left: 80px;
  }

  .home-access.studentaccess li div {
    left: -66px;
  }
}
.home-cta-set {
  margin-left: -20px;
}

/*# sourceMappingURL=style-overide.css.map */
