.button {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 5px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: $white;
  line-height: 1.33em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 5px solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.button:hover {
  color: $white;
  text-decoration: none;
  background-color: $button-hover-colour;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 5px solid $button-hover-colour;
  border-radius: 6px;
}

.button.home-button {
  color: $primary-red;
  border: 5px solid $button-colour;
}

.button.home-button:hover {
  color: white;
  border: 5px solid $button-hover-colour;
}