.home-business .figcaption { margin-left: 0; }

.home-business h2 {
  font-size: 20px;
  font-weight: normal;
}

.figure{
  float:left; 
  text-align:center;
  width:24.333333%;
}
  .figure img {
    width: 110px;
    height: 110px;
  }
@include mq(small) {
  .figure {
    width:100%;
    text-align: center;
    }
 
  .figure {
    float:none;
  }
 
  .figure img {
    width: 110px;
    height: 110px;
  }
}

@include mq(medium) {
  .figure {width:31%;}
  .figure img {
    width: 110px;
    height: 110px;
  }
}

@include mq(large) {
  .figure {width:24.333333%;}
  .figure img {
    width: 110px;
    height: 110px;
  }
}