.home-business .figcaption { margin-left: 0; }

.home-business h2 {
  font-size: 20px;
  font-weight: normal;
}

.figure{float:left;}
@include mq(small) {
  .figure.small {width:29%;}
  .figure {
    float:none;
  }
  .figure img {
    width: 110px;
    height: 110px;
  }
}

@include mq(medium) {
  .figure.medium {width:29%;}
  .figure img {
    width: 110px;
    height: 110px;
  }
}

@include mq(large) {
  .figure.large {width:24.333333%;}
  .figure img {
    width: 110px;
    height: 110px;
  }
}