.home-access.studentaccess {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  float:left;
}

.home-access.studentaccess h2 {
  font-size: 19px;
}

@include mq('small'){
  .home-access.studentaccess {
    padding-left: 0;
    padding-right: 0;
    width: 103%;
    margin-left: -12px;
  }

  .home-access.studentaccess ul {
    padding-left: 80px;
  }

  .home-access.studentaccess li div {
    left: -66px;
  }
}

@include mq('medium'){
  .home-access.studentaccess medium {
    width: 97%;
  }
  
  .home-access.studentaccess {
    width: 97%;
  }
  
  .home-access li {
    display: inline-block;
    margin-left: 20px;
  }
}

@include mq('large'){
  .home-access.studentaccess {
    margin-left: 12px;
  }
  
  .home-access.studentaccess large {
    width: 100px;
  }
}